.header {
    width: 100%;
    border-bottom: 1px var(--color-border) solid;
    padding: 7px 16px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
.header-left {
    color: var(--color-primary-text);
    font-size: 22px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 16px;
}
.hamburger {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    cursor: pointer;
}
div.hamburger:hover {
    background-color: var(--color-hover-highlight);
}
.menu-icon {
    fill: var(--color-primary-text);
}
.search-icon {
    fill: var(--color-secondary-text);
}
.search-icon-inverted {
    filter: invert(100%);
}
.search-container {
    width: 40%;
    border-radius: 8px;
    background-color: var(--color-secondary-background);
    display: flex;
    align-items: center;
}
.search-icon-container {
    padding: 0px 16px;
    margin-top: 2px;
}
.search-clear-container {
    width: 50px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    color: var(--color-secondary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.search-clear-container:hover {
    background-color: var(--color-secondary-hover-highlight);
}
.search-container-open {
    background-color: var(--color-primary-text);
}
.search-input {
    height: 48px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    /* color: ; */
}

@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
    .search-container {
        width: auto;
    }
}
