.side-menu-container {
    width: 220px;
    padding-top: 8px;
    transition: width 0.1s;
    position: absolute;
    top: 65px;
    bottom: 0px;
    background-color: var(--color-background);
}
.side-menu-closed {
    width: 70px;
}
.side-menu-closed:hover {
    position: absolute;
    width: 220px;
    z-index: 1;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.side-menu-item {
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
    transition: all 0.1s;
}
.side-menu-item:hover {
    background-color: var(--color-hover-highlight);
}
.side-menu-item-selected {
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: var(--color-selected-yellow);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
    transition: all 0.1s;
}
.side-menu-item-round {
    width: 48px;
    margin-left: 16px;
    border-radius: 24px;
    padding-left: 0px;
}
.side-menu-closed:hover .side-menu-item-round {
    margin-left: 0px;
    border-radius: 0px;
    padding-left: 16px;
    width: auto;
    box-sizing: border-box;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}
.side-menu-closed:hover .display-none {
    display: block;
}
.menu-icon-container {
    width: 20px;
    height: 20px;
    padding: 0px 14px;
}
.menu-item-text {
    padding-left: 20px;
    transition: all 0.05s;
}
.display-none {
    display: none;
}

@media only screen and (max-width: 768px) {
    .side-menu-container {
        position: absolute;
        width: 220px;
        z-index: 1;
        -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
    }
    .side-menu-closed {
        width: 70px;
        left: -70px;
    }
}

.switch-container {
    position: absolute;
    bottom: 16px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
