.container {
    background-color: var(--color-background);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
}
.bottom {
    flex-grow: 1;
    overflow-y: auto;
}
.body-content {
    width: 100%;
    margin-left: 200px;
    box-sizing: border-box;
    padding: 0px 42px;
}
.body-section-header {
    color: var(--color-inactive);
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    padding: 32px 32px 8px 16px;
}
.body-content-big {
    margin-left: 70px;
}
.content-top {
    max-width: 500px;
    margin: 32px auto 16px auto;
}
.notes-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.empty-text {
    font-size: 28px;
    color: var(--color-inactive);
    padding-top: 150px;
    text-align: center;
}
.menu-backdrop {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #202124bb;
    display: none;
}
@media only screen and (max-width: 768px) {
    .body-content {
        margin-left: 0px;
        padding: 0px 16px;
    }
    .menu-backdrop {
        display: block;
    }
}

.pinned {
    background-color: var(--color-hover-highlight);
}
