.create-container {
    position: relative;
    width: 100%;
    border: 1px var(--color-hover-highlight) solid;
    border-radius: 6px;
    -webkit-box-shadow: var(--color-primary-shadow);
    -moz-box-shadow: var(--color-primary-shadow);
    box-shadow: var(--color-primary-shadow);
}
.create-container-expanded {
    padding-bottom: 9px;
}
.note-area {
    width: inherit;
    padding: 12px 16px;
    display: block;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    color: var(--color-primary-text);
    font-size: 16px;
    font-family: "Product Sans", Arial, sans-serif;
    box-sizing: border-box;
}
.close-btn {
    position: absolute;
    right: 16px;
    bottom: 9px;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 24px;
    color: var(--color-primary-text);
    font-size: 14px;
    font-weight: 600;
}
.close-btn:hover {
    background-color: var(--color-hover-highlight);
}
