.create-container {
    /* height: 46px; */
    position: relative;
    width: 100%;
    border: 1px rgba(141, 141, 141, 0.671) solid;
    color: rgba(141, 141, 141, 0.671);
    border-radius: 6px;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.75);
}
.create-container-expanded {
    padding-bottom: 9px;
}
.note-area {
    width: inherit;
    padding: 12px 16px;
    display: block;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    color: #dadce0;
    font-size: 16px;
    font-family: "Product Sans", Arial, sans-serif;
}
.close-btn {
    position: absolute;
    right: 16px;
    bottom: 9px;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 24px;
    color: #dadce0;
    font-size: 14px;
    font-weight: 600;
}
.close-btn:hover {
    background-color: rgba(141, 141, 141, 0.555);
}
